<h2>Registrant's Detail </h2>

	<p>Name: <%= @registration.name %></p>
	<p>Email: <%= @registration.email %></p>
	<p>Source: <%= @registration.info_source %></p>
	<p>Event Registered: <%= @event.name %></p>
