<div>
	<% if @event.errors.any? %>
	Please check this out: 
	<%= pluralize(@event.errors.count, 'error') %><br /><br />
	<% @event.errors.full_messages.each do |event_errors| %>
	<ul>
	<li><%= event_errors %></li>
	</ul>
	<% end %>
	<% end %>
</div>